@model IEnumerable<FarmManagement.Web.Models.ViewModels.YieldAnalyticsViewModels>

<h2>Yield Analytics Report</h2>

@if (!Model.Any())
{
    <p>No yield data available.</p>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Field Name</th>
                <th>Area Size</th>
                <th>Total Yield</th>
                <th>Average Yield</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.FieldName</td>
                    <td>@item.AreaSize</td>
                    <td>@item.TotalYield</td>
                    <td>@item.AverageYield</td>
                </tr>
            }
        </tbody>
    </table>
}
